{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {{ controller_name }} | Red Glow{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}

    </head>

    {% block body %}

        <!-- Main wrapper  -->
        <div id="main-wrapper">
            <div class="unix-login">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="login-content card">
                                <div class="login-form">
                                    <h4>Login</h4>
                                    <form action="{{ path('login') }}" method="post">
                                        <div class="form-group">
                                            <label>Nom d'utilisateur</label>
                                            <input type="text" class="form-control" value="{{ last_username }}" placeholder="Nom d'utilisateur" name="_username">
                                        </div>
                                        <div class="form-group">
                                            <label>Mot de passe</label>
                                            <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Se souvenir de moi
                                            </label>
                                            <label class="pull-right">
                                                <a href="#">Mot de passe oublié ?</a>
                                            </label>

                                        </div>
                                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Se connecter</button>
                                        <div class="register-link m-t-15 text-center">
                                            <p>Vous n'avez pas de compte ? <a href="/register"> Inscrivez-vous ici !</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Wrapper -->

    {% endblock %}

     {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('build/js/app.js') }}" ></script>
    {% endblock %}


