{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
   <!-- Start Page Content -->
    {% if task %}
        <h1>Tâche : {{ task.name }}</h1>
        <div class="label" style="background-color:{{ task.state.color }}">{{ task.state.title }}</div>
        <div class="col-12">
            Projet :
            <p>{{ task.project ?  task.project.name : '∅'}}</p>
        </div>
        <div class="col-12">
            Auteur :
            <p>{{ task.author.username }}</p>
        </div>
        <div class="col-12">
            Description :
            <p>{{ task.description }}</p>
        </div>

        <div class="col-6">
            Début de la tâche :
            {{ task.startAt ? task.startAt|date('Y-m-d') : '∅' }}
        </div>
        <div class="col-6">
            Fin prévue de la tâche :
            {{ task.plannedEndAt ? task.plannedEndAt|date('Y-m-d') : '∅' }}
        </div>
        <br>
        <div class="col-12">
            Fin réelle :
            {{ task.endAt ? task.endAt|date('Y-m-d') : '∅' }}
        </div>
        <br>
        <div class="col-12">
            Contributeur(s) :
            <p>
            {% for contributeur in task.contributor %}
                {{ contributeur.username }} |
            {% endfor %}
            </p>
        </div>
        <p><a class="btn btn-warning" href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
        {{ include('task/_delete_form.html.twig') }}</p>

        <a href="{{ path('task_index') }}"><- Retour à la liste des tâches</a>
    {% else %}
        <p>Cette tâche n'existe plus !</p>
    {% endif %}
    </div>
      
{% endblock %}