{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} | Red Glow{% endblock %}

{% block body %}
	<style>
	.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>

		
	<table id="projects" class="table table-hover ">
		<thead>
			<tr>
				<th>Intitulé</th>
				<th>Description</th>
				<th>Participants</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.name }}</td>
					<td>{{ project.description }}</td>
					<td>
						<ul>
							<li>Rachel </li>
							<li>Douae</li>
							<li>Elodie</li>
						</ul>
					</td>
					<td><a href="{{ path('project_show', {'id': project.id}) }}" target="=_blank" class="btn btn-info">Plus de détails</a></td>
		            <td><a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-warning">Modifer</a></td>
		            <td><a href="#" class="btn btn-danger delete-project" data-id= "{{ project.id }}">Supprimer</a></td>
				</tr>
			
			{% endfor %}
			

		</tbody>
	</table>
{% endblock %}
