{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    
    <div id="delete-project">
        {% if project %}
            <h1>{{ project.name }}</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ project.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <th>Users</th>
                        <td>Rachel .. </td>
                        {# <td>{{ project.users ? project.users|join(', ') : '' }}</td> #}
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('project_index') }}">back to list</a>

            <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

            <a href="#" class="btn btn-danger delete-project" data-id= "{{ project.id }}">Supprimer</a>
        {% else %}
            <p>Ce projet n'existe plus !</p>
        {% endif %}
    </div>
{% endblock %}