{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    
    <div id="delete-project">
        {% if project %}
            <h1>{{ project.name }}</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom du projet</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <th>Auteur</th>
                        <td>{{ project.author.username }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="col-12">
                Membre(s) du projet :
                {% for user in project.users %}
                    <p>{{ user.username }}</p>
                {% else %}

                    <p>Il n'a y aucun utilisateur membre de ce projet</p>

                {% endfor %}
            </div>

            <div class="col-12">
                Tâche(s) du projet :
                {% for task in project.tasks %}
                    <p>{{ task.name }}</p>
                {% else %}

                        <p>Il n'a y aucune tâche pour ce projet</p>

                {% endfor %}
            </div>

            <a href="{{ path('project_index') }}"><- Retour à la liste</a>

            <a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
        {% else %}
            <p>Ce projet n'existe plus !</p>
        {% endif %}
    </div>
{% endblock %}